* {
	margin: 15 0 0 0;
	padding: 0;
}

body {
	background-color: #bce7f5;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

h2{
	color:   #0d4659;
	border-bottom: 2px solid black;
}

h4 {

	margin-left: 10px;
}


img {

	padding: 12px;
	background-color: black;

}



.marginLi {
	margin-top: 5px;
}

.divPaddingLeft{
	position: relative;
	padding-left: 110px;
}

.divPaddingLeftLaboral {
	position: relative;
	padding-left: 20px;
}

